
/*! CSS Used from: https://discord.com/assets/532.136cfa8a5764850e57ba.css */
.size12-3r1pkq{font-size:12px;}
.height16-3se7kO{line-height:16px;}
.weightSemiBold-1D1-HD{font-weight:600;}
.weightBold-2gJI4d{font-weight:700;}
.flex-2S1XBF{display:-webkit-box;display:-ms-flexbox;display:flex;}
.flex-2S1XBF,.flex-2S1XBF .flexChild-3PzYmX{-webkit-box-sizing:border-box;box-sizing:border-box;}
.flex-2S1XBF .flexChild-3PzYmX{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;}
.flexHorizontal-humxgD{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;}
.flexAlignCenter-8FgVwZ{-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.flexAlignStretch-1BJbuT{-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;}
.flexJustifyStart-3aWekq{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;}
.flexJustifyCenter-3VdGrQ{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.flexWrap-A0-NZQ{-ms-flex-wrap:wrap;flex-wrap:wrap;}
.button-f2h6uQ{position:relative;display:inline-block;background:none;-webkit-box-sizing:border-box;box-sizing:border-box;border:none;font-family:var(--font-primary);font-weight:400;line-height:18px;padding:0 20px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;text-align:center;-webkit-transition:all .17s ease-out;transition:all .17s ease-out;white-space:nowrap;}
.button-f2h6uQ:disabled{opacity:.5;cursor:not-allowed;outline:none;}
.unpaired-GdFe-D{border-radius:3px;}
.unpaired-GdFe-D:hover{-webkit-box-shadow:0 9px 30px 0 rgba(hsl(214,calc(var(--saturation-factor, 1)*9.1%),15.1%),.1);box-shadow:0 9px 30px 0 rgba(hsl(214,calc(var(--saturation-factor, 1)*9.1%),15.1%),.1);}
.filledDefault-25rIra{font-size:15px;}
.filledPrimary-3zeYrF{background:hsl(217,calc(var(--saturation-factor, 1)*7.6%),33.5%);color:hsl(240,calc(var(--saturation-factor, 1)*5.9%),96.7%);}
.contentWrapper-2lY2rd{height:100%;position:relative;}
.buttonContent-2HNzoF{-webkit-transition:all .17s ease-out;transition:all .17s ease-out;}
.avatar-1vZTai{position:relative;border-radius:50%;-ms-flex-negative:0;flex-shrink:0;}
.popout-13v7jc{width:90px;height:90px;}
.mask-PBMOnu{-webkit-mask:url(https://discord.com/assets/bbefc7dbdacf4d38891b2ce9acdbe763.svg);mask:url(https://discord.com/assets/bbefc7dbdacf4d38891b2ce9acdbe763.svg);-webkit-mask-size:100%;mask-size:100%;mask-type:luminance;}
.maskProfile-7rUMAY{-webkit-mask:url(https://discord.com/assets/ee28e449f86121bee152231e3ce50839.svg);mask:url(https://discord.com/assets/ee28e449f86121bee152231e3ce50839.svg);}
.image-3Qwc32{width:100%;height:100%;background-clip:padding-box;background-color:none;background-position:50%;background-size:100%;}
.image-3Qwc32,.status-3cG_jl{border-radius:50%; }
.status-3cG_jl{width:25%;height:25%;position:absolute;bottom:0;right:0;}
.statusOnline-2uQwYn{background-color:hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);}
.statusProfile-19Hh3s{position:absolute;bottom:3px;right:3px;width:18px;height:18px;}
.statusOnlineProfile-3yOHOn{-webkit-box-shadow:inset 0 0 0 2px rgba(hsl(138,calc(var(--saturation-factor, 1)*86.1%),71.8%),.6);box-shadow:inset 0 0 0 2px rgba(hsl(138,calc(var(--saturation-factor, 1)*86.1%),71.8%),.6);}
.ellipsis-20tXB4{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.headerText-eMQg4z{color:var(--header-secondary);text-transform:uppercase;}
.headerTextNormal-1mD91d{margin-bottom:8px;}
.body-3yiUoa{display:-webkit-box;display:-ms-flexbox;display:flex;}
.bodyNormal-3pzgAP{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;}
.assets-zGt9I6{position:relative;}
.assetsLargeMaskUserPopout-3ln9_f{-webkit-mask:url(https://discord.com/assets/3a10988d0f55c63294100b270818207a.svg);mask:url(https://discord.com/assets/3a10988d0f55c63294100b270818207a.svg);}
.assetsLargeImage-1QFXi2{-webkit-user-drag:none;border-radius:4px;display:block;-o-object-fit:cover;object-fit:cover;}
.assetsLargeImageUserPopout-30u5_n{width:60px;height:60px;}
.assetsSmallImage-2aLX1T{-webkit-user-drag:none;border-radius:50%;position:absolute;bottom:-4px;right:-4px;}
.assetsSmallImageUserPopout-WzSpaq{width:20px;height:20px;}
.content-18aRkC{overflow:hidden;}
.contentImagesUserPopout-4ZdS8t{margin-left:10px;}
.textRow-2DmgEQ{display:block;font-size:14px;line-height:16px;margin-bottom:4px;}
.activityUserPopout-2e8pu8 .textRow-2DmgEQ{margin-bottom:2px;}
.activityUserPopout-2e8pu8{padding:16px;}
.content-1r_a9C{background-color:var(--background-floating);}
.userPopout-3yP9Rm{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;width:300px;overflow:hidden;position:relative;border-radius:8px;-webkit-box-shadow:0 0 20px 2px rgba(hsl(240,calc(var(--saturation-factor, 1)*11.1%),1.8%),.3);box-shadow:0 0 20px 2px rgba(hsl(240,calc(var(--saturation-factor, 1)*11.1%),1.8%),.3);margin:40px auto;}
.profileBanner-3CRX72{height:60px;background-color:hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);}
.avatarWrapper-3ECJr8{position:absolute;top:16px;left:16px;border:6px solid var(--background-floating);border-radius:50%;}
.avatarWrapper-3ECJr8,.userInfo-2zbn-a{background-color:var(--background-floating);}
.userInfo-2zbn-a{padding:64px 16px 16px;}
.username-Zgv1GP{font-size:20px;line-height:24px;color:#fff;font-weight:700;}
.discriminator-3NHja3{font-size:14px;line-height:20px;color:var(--header-secondary);}
.actionsUserPopout-1kMllR{margin-top:10px;-ms-flex-wrap:nowrap;flex-wrap:nowrap;}
.actionsUserPopout-1kMllR{margin-top:8px;}


.userDiscordAvatar {
    margin-top: -10px;
    width: 100px;
    border-radius: 100%;
    border-style: solid;
    border-width: 4px;
    border-color: #18191c;
}

.preview {
    top: 20px;
    margin-left: 245px;
    margin-top: -35px;
    position: absolute;
    top: 10px;
    left: 115px;
    background-color: #18191c;
    background: linear-gradient(to bottom, transparent 10%, #18191c 15%);
    width: 300px;
    border-radius: 8px;
    height: 430px;
}

.onlineStatus {
    background-color:hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    position:absolute;
    bottom:3px;
    right:3px;
    width:18px;
    height:18px;
    border-style: solid;
    border-width: 4px;
    border-color: #18191c;
}

.imgLarge {
    width:60px;
    height:60px;
    -webkit-user-drag:none;
    border-radius:4px;
    display:block;
    -o-object-fit:cover;
    object-fit:cover;
}

.imgSmall {
    -webkit-user-drag:none;
    border-radius:50%;
    position:absolute;
    bottom:-4px;
    right:-4px;
    width:20px;
    height:20px;
    border-style: solid;
    border-width: 3px;
    border-color: #18191c;
}

.updateButton {
    position: absolute;
    left: 100px;
    width: 245px;
    bottom: 10px;
}

.cfgbtn {
    margin-bottom: 10px;
    width: 245px;
}